/*general declarations*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
/*definition for various background colors*/
.background-ash {
  background-color: #ececec;
}
.background-blank {
  background-color: #ffffff;
}
.background-light-warm {
  background-color: #ff7065;
}
.background-sky-cool {
  background-color: #65aaff;
}
/*definition of various foreground colors*/
.foreground-ash {
  color: #ececec;
}
.foreground-blank {
  color: #ffffff;
}
.foreground-light-warm {
  color: #ff7065;
}
.foreground-sky-cool {
  color: #65aaff;
}
/*continer class definition */
.container {
  display: flex;
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
  margin: 2rem;
  padding: 1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.row {
  display: inherit;
  width: 100%;
}

.c-1 {width: 8.33%; display: block; padding: 0.5rem;}
.c-2 {width: 16.667%; display: block; padding: 0.5rem;}
.c-3 {width: 25%; display: block; padding: 0.5rem;}
.c-4 {width: 33.333%;  display: block; padding: 0.5rem;}
.c-5 {width: 41.667%; display: block; padding: 0.5rem;}
.c-6 {width: 50%;  display: block; padding: 0.5rem;}
.c-7 {width: 58.33%; display: block; padding: 0.5rem;}
.c-8 {width: 66.66%; display: block; padding: 0.5rem;}
.c-9 {width: 75%; display: block; padding: 0.5rem;}
.c-10 {width: 83.33%; display: block; padding: 0.5rem;}
.c-11 {width: 91.66%; display: block; padding: 0.5rem;}
.c-12 {width: 100%; display: block; padding: 0.5rem;}

/*form input elements*/
.form-input {
  margin: 10px 0px 10px 0px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  width: -moz-available;    /* Firefox/Gecko */
  width: -webkit-fill-available; /* Chrome */
  width: 100%;
}
.form-input-lg {
  padding: 15px;
  border-radius: 5px;
}
.form-input-md {
  padding: 10px;
  border-radius: 5px;
}
.form-input-sm {
  padding: 5px;
  border-radius: 3px;
}
/*other form elements*/
.form-label-1 {
  font-weight: 500;
  margin : 10px 0px 10px 0px;
}
/*typography*/
h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  margin: 10px;
}
/*button decorations*/
.btn {
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.btn-ash {
  background-color: #939393;
  width: 100%;
  border: 1px solid rgba(93, 93, 93, 0.5);
}
.btn-blank {
  background-color: #ffffff;
  color: black;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.btn-light-warm {
  background-color: #ff7065;
  width: 100%;
  border: 1px solid rgba(255, 77, 77, 0.5);
}
.btn-sky-cool {
  background-color: #65aaff;
  width: 100%;
  border: 1px solid rgba(105, 161, 219, 0.5);
  border-radius: 5px;
  color: white;
}
/*other decorations*/
hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#bcbcbc;
  height: 1px;
}
.full-container-center {
  width: 100%;
  left: 0%;
  position: relative;
}
.medium-container-center {
  width : 60%;
  left:20%;
  position: relative;
}
.small-container-center {
  width : 30%;
  left: 35%;
  position: relative;
}
